@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #D0E8FF;
    --foreground: #00093D;
  
    --card: #FCFCFC;
    --card-foreground: #00093D;
  
    --popover: #F0F0DF;
    --popover-foreground: #2B3A42;
  
    --primary: #D0E8FF;
    --primary-foreground: #00093D;
  
    --secondary: #0079B5;
    --secondary-foreground: #FFFFFF;
  
    --muted: #3F5866;
    --muted-foreground: #00093D;
  
    --accent: #F9A200;
    --accent-foreground: #FFFFFF;
  
    --destructive: #EB4940;
    --destructive-foreground: #2B3A42;
  
    --border: #D9D9D9;
    --ring: rgba(0, 121, 181, 0.8);
  
    --radius: 0.5rem;
      
      
  }
  
  .dark {
    --background: #BDD3DE;
    --foreground: #3F5866;
  
    --card: #BDD3DE;
    --card-foreground: #3F5866;
  
    --popover: #BDD3DE;
    --popover-foreground: #3F5866;
  
    --primary: #3F5866;
    --primary-foreground: #BDD3DE;
  
    --secondary: #dbe5f0;
    --secondary-foreground: #3F5866;
  
    --muted: #dbe5f0;
    --muted-foreground: #d780a6;
  
    --accent: #dbe5f0;
    --accent-foreground: #3F5866;
  
    --destructive: #ff9e4f;
    --destructive-foreground: #3F5866;
  
    --border: #dbe5f0;
    --input-border: #dbe5f0;
    --ring: #d652a8;
  }
}
 
@layer base {
  * {
    @apply border-border font-roboto text-foreground;
  }
  body {
    @apply bg-background;
  }
}